// CSS imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// CSS Variables
$colors: (
    light-baby-blue: #CCFFFF,
    button-blue: #2774e8,
    dark-button-blue: darken(#2774e8, 15%)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

// CSS Starts Here

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(light-baby-blue);
    
    .floatRight {
        float: right;
        #timeRemaining {
            color: green;
        }
    }
}