// CSS imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// CSS Variables
$colors: (
    light-baby-blue: #CCFFFF,
    button-blue: #2774e8,
    dark-button-blue: darken(#2774e8, 15%),
    lighten-green: lighten(green, 15%),
    lighten-red: lighten(red, 15%),
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

$desktop: 661px;
$mobile: 660px;


@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

// CSS Starts Here

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(light-baby-blue);

    header {
        margin: 10px;
        .floatRight {
            float: right;
            #timeRemaining {
                color: green;
            }
        }

        a, a:visited, a:active {
            text-decoration: none;
            color: black;

        }
    }

    .inline {
        display: inline-block;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .floatLeft {
        float: left;
    }

    #quiz {
        margin: 0 auto;
    }

    .title {
        text-align: center;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        font-size: 26px
    }

    .description {
        text-align: center;
        margin-top: 25px
    }

    .btn {
        width: auto;
        height: 25px;
        color: white;
        background-color: color(button-blue);
        border: none;
        display: block;
    }

    form {
        position: relative;
    }

    .saveBtn {
        position: relative;
    }

    .btn:hover {
        background-color: color(dark-button-blue);
        font-size: 14px;
    }

    .answerBtn {
        margin-top: 10px;
        border-radius: 5px;
        width: auto;
    }

    #start-btn {
        height: 35px;
        width: 75px;
        border-radius: 10px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    #next-btn {
        width: 75px;
        height: 35px;
        border-radius: 10px;
        margin-top: 60px;
        margin-right: auto;
        float: right;
    }

    .hide {
        display: none;
    }
    
    #isCorrect {
        background-color: color(lighten-green);
        color: white;
        padding: 5px;
        margin: 10px 0;
        width: 100%;
        height: 20px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    #isIncorrect {
        background-color: color(lighten-red);
        color: white;
        padding: 5px;
        margin: 10px 0;
        width: 100%;
        height: 20px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    #saved {
        background-color: color(lighten-green);
        color: white;
        padding: 5px 0;
        margin: 10px 0;
        width: 100%;
        height: 20px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    #error {
        background-color: color(lighten-red);
        color: white;
        padding: 5px 0;
        margin: 10px auto;
        width: 100%;
        height: 20px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

    #question {
        text-align: center;
    }

    #finalDiv {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #finalDiv p {
        margin-top: 5px;
    }

    #finalDiv h3 {
        text-align: center;
    }

    #finalDiv input#initialInput {
        margin-top: 15px;
        border-radius: 5px;
        border: 1px solid color(dark-button-blue);
        height: 25px;
        width: auto;
    }

    #returnStart {
        margin: 15px auto;
        text-align: center;
        margin-left: auto;
        height: 30px;
        width: 130px;
    }
    #save {
        margin-top: 15px;
        display: inline-block;
        height: 30px;
        width: 60px;
    }

    #showHighScores {
        text-align: center;
        padding: 15px;
        margin: 10px auto;
    }

    #clearStorage {
        margin: 5px auto;
    }

    #goToStart {
        margin: 15px auto;
        text-align: center;
        margin-left: auto;
        height: 30px;
        width: 130px;
    }

    #highScores {
        margin: 10px auto;
    }
    th, td {
        padding-right: 20px;
    }

    @include desktop {
        .container {
            width: 40%;
        }

        #header {
            width: 60%;
            margin: 0 auto;
        }
    }
}