// CSS imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// CSS Variables
$colors: (
    light-baby-blue: #CCFFFF,
    button-blue: #2774e8,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

// CSS Starts Here

body {
    font-family: 'Montserrat', sans-serif;
    background-color: color(light-baby-blue);
    
    .floatRight {
        float: right;
    }
    
    header {
        margin: 10px;
    }
    
    #headerAbsolute {
        float: right;
    }
    
    #timeRemaining {
        color: green;
    }
    
    .container {
        width: 100%;
        margin: 10px;
        padding: 5px;
    }
    .btn {
        background-color: color(button-blue);
        color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: auto;
    }
}
